" This is what a Vim config file comment looks like.

" activates filetype detection:
filetype plugin indent on 

" ctrl-s works as expected:
inoremap <C-s> <esc>:w<cr><esc>
nnoremap <C-s> :w<cr>

" ctrl-w works to quit like a browser tab (remapped from visual mode)
inoremap <C-w> <esc>:q<cr>
nnoremap <C-w> <esc>:q<cr>

" Restore backspace functionality:
set backspace=indent,eol,start

" Turns on syntax highlighting:
syntax on

" Changes default colour scheme:
colorscheme koehler
