"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
"                   VUNDLE CONFIG                                   "
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""

set nocompatible              " be iMproved, required
filetype off                  " required

" set the runtime path to include Vundle and initialize
set rtp+=~/.vim/bundle/Vundle.vim
call vundle#begin()

" let Vundle manage Vundle, required
Plugin 'VundleVim/Vundle.vim'

"""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" Vundle-managed plugins:
" (keep Plugin commands between vundle#begin/end)
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""

Plugin 'scrooloose/nerdtree'
Plugin 'bling/vim-airline'
Plugin 'w0rp/ale'
Plugin 'Valloric/YouCompleteMe'

" plugin on GitHub repo
" Plugin 'tpope/vim-fugitive'

" plugin from http://vim-scripts.org/vim/scripts.html
" Plugin 'L9'

" Git plugin not hosted on GitHub
" Plugin 'git://git.wincent.com/command-t.git'

" git repos on your local machine (i.e. when working on your own plugin)
" Plugin 'file:///home/gmarik/path/to/plugin'

" The sparkup vim script is in a subdirectory of this repo called vim.
" Pass the path to set the runtimepath properly.
" Plugin 'rstacruz/sparkup', {'rtp': 'vim/'}

" Install L9 and avoid a Naming conflict if you've already installed a
" different version somewhere else.
" Plugin 'ascenator/L9', {'name': 'newL9'}


" All of your Plugins must be added before the following line
call vundle#end()            " required
filetype plugin indent on    " required

" Brief help
" :PluginList       - lists configured plugins
" :PluginInstall    - installs plugins; append `!` to update or just :PluginUpdate
" :PluginSearch foo - searches for foo; append `!` to refresh local cache
" :PluginClean      - confirms removal of unused plugins; append `!` to auto-approve removal
"
" see :h vundle for more details or wiki for FAQ

" Had these originally, but seemed no longer needed after a few goes:
" PluginInstall         " tells Vundle to install plugins
" bdelete               " delete the buffer that Vundle opens to output messages from PluginInstall

" Put your non-Vundle-Plugin stuff after this line





"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
"   The following block of commands is from vimconfig.com           "
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""

set number	
set linebreak	
set showbreak=+++
set textwidth=100
set showmatch
 
set hlsearch
set smartcase	
set ignorecase
set incsearch
 
set autoindent	
set expandtab
set shiftwidth=4
set smartindent	
set smarttab
set softtabstop=4






"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
"                           MY CONFIG                               "
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""

" NERDTree browser behaviour
autocmd vimenter * NERDTree
autocmd StdinReadPre * let s:std_in=1
autocmd VimEnter * if argc() == 0 && !exists("s:std_in") | NERDTree | endif
autocmd VimEnter * if argc() == 1 && isdirectory(argv()[0]) && !exists("s:std_in") | exe 'NERDTree' argv()[0] | wincmd p | ene | endif
autocmd bufenter * if (winnr("$") == 1 && exists("b:NERDTree") && b:NERDTree.isTabTree()) | q | endif

" activates filetype detection:
filetype plugin indent on 

" ctrl-s works as expected:
inoremap <C-s> <esc>:w<cr><esc>
nnoremap <C-s> :w<cr>

" ctrl-w works to quit like a browser tab (remapped from visual mode)
inoremap <C-w> <esc>:q<cr>
nnoremap <C-w> <esc>:q<cr>

" ctrl-z works to undo (instead of 'r')
inoremap <C-z> <esc>u
nnoremap <C-z> <esc>u

" Restore backspace functionality:
set backspace=indent,eol,start

" Turns on syntax highlighting:
syntax on

" Changes default colour scheme:
colorscheme koehler

" set tab to be 4 spaces instead of 8
set tabstop=4

" Move between windows (since CTRL-W has been remapped, we must use :wincmd)
inoremap <S-Down> <esc>:wincmd j<cr>
nnoremap <S-Down> <esc>:wincmd j<cr>

inoremap <S-Right> <esc>:wincmd l<cr>
nnoremap <S-Right> <esc>:wincmd l<cr>

inoremap <S-Left> <esc>:wincmd h<cr>
nnoremap <S-Left> <esc>:wincmd h<cr>

inoremap <S-Up> <esc>:wincmd k<cr>
nnoremap <S-Up> <esc>:wincmd k<cr>


